{% extends 'base.html.twig' %}

{% block title %}New AnnoncesColocation{% endblock %}

{% block body %}
    <h1>Create new AnnoncesColocation</h1>

    {{ include('annonces/_form.html.twig') }}

    <a href="{{ path('app_annonces_index') }}">back to list</a>
{% endblock %}
