{% extends 'base.html.twig' %}

{% block title %}New Discussions{% endblock %}

{% block body %}
    <h1>Create new Discussions</h1>

    {{ include('discussions/_form.html.twig') }}

    <a href="{{ path('app_discussions_index') }}">back to list</a>
{% endblock %}
