{% extends 'base.html.twig' %}

{% block title %}Hello Admin {{app.user.nom}}!{% endblock %}

{# {% block nav %} #}


    {# <nav class="side-nav">
        <ul>
            <li><a href="admin/users">Gestion Utilisateur</a></li>
            <li><a href="#">Gestion Trajet</a></li>
            <li><a href="#">Gestion Annonces</a></li>
        </ul>
    </nav><!-- End Side Nav --> #}
{# {% endblock %} #}
{% block body %}

{% endblock %}
