/* General Styles */
body {
    background-color: #f8f9fa; /* Light gray background */
    font-family: 'Open Sans', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

input.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button.btn-primary {
    background-color: #007bff;
    color: #fff;
}

button.btn-primary:hover {
    background-color: #0056b3;
}

button.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    margin-top: 10px;
}

button.btn-secondary:hover {
    background-color: #495057;
}

.alert {
    margin-bottom: 20px;
    font-size: 14px;
}

.logout-link {
    color: #007bff;
    text-decoration: none;
}

.logout-link:hover {
    text-decoration: underline;
}

/* Registration Link */
.register-container {
    margin-top: 20px;
    text-align: center;
}

.register-container span {
    display: block;
    margin-bottom: 10px;
    color: #555;
}
.forgot-password-container {
    text-align: center;
    margin-top: 10px;
}

.forgot-password-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password-link:hover {
    text-decoration: underline;
}